---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronLeft from "@/components/fundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
---

<BaseLayout>
  <section class="relative overflow-hidden bg-gradient-to-br from-blue-50 to-indigo-100">
    <Wrapper
      variant="standard"
      class="relative py-32 overflow-hidden h-dvh flex flex-col items-center justify-center"
    >
      <div class="relative text-center lg:w-1/2 mx-auto">
        <Text
          tag="h1"
          variant="display2XL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="font-black text-6xl md:text-7xl mb-4 bg-gradient-to-r from-blue-900 via-blue-700 to-indigo-800 bg-clip-text text-transparent"
        >
          BlessBox
        </Text>
        <Text
          tag="h2"
          variant="displayXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="font-semibold tracking-tighter text-red-600 lg:text-balance"
        >
          404 - Page Not Found
        </Text>
        <Text
          tag="p"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="mt-4 font-medium text-gray-600 md:text-balance"
        >
          Sorry, but the page you were looking for could not be found. You can
          return to our homepage, or contact us if you need help finding what
          you're looking for.
        </Text>
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="flex flex-col items-center mt-12 gap-2 justify-center max-w-xs mx-auto"
        >
          <Link
            size="base"
            variant="default"
            href="/"
            gap="xs"
            class="group w-full"
          >
            <ChevronLeft
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
            Go to Homepage
          </Link>
          <Link
            size="base"
            variant="muted"
            href="/forms/contact"
            gap="xs"
            class="group w-full"
          >
            Contact Support
            <ChevronRight
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
          </Link>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
