@import "tailwindcss";

@theme {
  --font-family-sans: "Geist", sans-serif;
  --font-family-mono: "Geist Mono", monospace;
  
  --color-gray-50: oklch(98.5% .002 247.839);
  --color-gray-100: oklch(96.7% .003 264.542);
  --color-gray-200: oklch(92.8% .006 264.531);
  --color-gray-300: oklch(87.2% .01 258.338);
  --color-gray-400: oklch(70.7% .022 261.325);
  --color-gray-500: oklch(55.1% .027 264.364);
  --color-gray-600: oklch(44.6% .03 256.802);
  --color-gray-700: oklch(37.3% .034 259.733);
  --color-gray-800: oklch(27.8% .033 256.848);
  --color-gray-900: oklch(21% .034 264.665);
  --color-gray-950: oklch(13% .028 261.692);
  
  --color-blue-50: oklch(97.68% .012 231.65);
  --color-blue-100: oklch(95.28% .023 240.08);
  --color-blue-200: oklch(89.83% .052 239.56);
  --color-blue-300: oklch(85.31% .076 240.46);
  --color-blue-400: oklch(80.15% .102 240.58);
  --color-blue-500: oklch(75.42% .127 242.68);
  --color-blue-600: oklch(67.33% .169 247.02);
  --color-blue-700: oklch(56.41% .152 248.83);
  --color-blue-800: oklch(41.77% .11 248.31);
  --color-blue-900: oklch(27.21% .066 245.96);
  --color-blue-950: oklch(18.6% .039 237.79);
  
  --color-teal-50: oklch(98.31% .011 182.88);
  --color-teal-100: oklch(96.83% .023 179.96);
  --color-teal-200: oklch(93.35% .047 179.87);
  --color-teal-300: oklch(90.44% .068 178.78);
  --color-teal-400: oklch(87.19% .091 177.31);
  --color-teal-500: oklch(84.58% .11 176.27);
  --color-teal-600: oklch(79.61% .139 173.04);
  --color-teal-700: oklch(67.52% .124 171.99);
  --color-teal-800: oklch(49.87% .089 173.04);
  --color-teal-900: oklch(32.13% .054 174.01);
  --color-teal-950: oklch(21.37% .033 174.2);
  
  --color-green-50: oklch(98.2% .018 155.826);
  --color-green-100: oklch(96.2% .044 156.743);
  --color-green-200: oklch(92.5% .084 155.995);
  --color-green-300: oklch(84.5% .143 164.978);
  --color-green-400: oklch(79.2% .209 151.711);
  --color-green-500: oklch(72.3% .219 149.579);
  --color-green-600: oklch(62.7% .194 149.214);
  --color-green-700: oklch(52.7% .154 150.069);
  --color-green-800: oklch(44.8% .119 151.328);
  
  --color-yellow-50: oklch(99.07% .024 111.97);
  --color-yellow-100: oklch(98.18% .039 110.21);
  --color-yellow-200: oklch(96.75% .078 110.89);
  --color-yellow-300: oklch(95.15% .114 111.6);
  --color-yellow-400: oklch(93.62% .15 112.23);
  --color-yellow-500: oklch(92.5% .175 113.21);
  --color-yellow-600: oklch(90.5% .2 114.06);
  --color-yellow-700: oklch(75.09% .167 114.4);
  --color-yellow-800: oklch(55.82% .122 113.71);
  --color-yellow-900: oklch(34.85% .074 113.86);
  --color-yellow-950: oklch(21.84% .044 111.54);
  
  --color-purple-50: oklch(97.7% .014 308.299);
  --color-purple-100: oklch(94.6% .033 307.174);
  --color-purple-200: oklch(90.2% .063 306.703);
  --color-purple-300: oklch(82.7% .119 306.383);
  --color-purple-400: oklch(71.4% .203 305.504);
  --color-purple-500: oklch(62.7% .265 303.9);
  --color-purple-600: oklch(55.8% .288 302.321);
  --color-purple-700: oklch(49.6% .265 301.924);
  --color-purple-800: oklch(43.8% .218 303.724);
  --color-purple-900: oklch(38.1% .176 304.987);
  
  --color-red-50: oklch(97.1% .013 17.38);
  --color-red-100: oklch(93.6% .032 17.717);
  --color-red-200: oklch(88.5% .062 18.334);
  --color-red-300: oklch(80.8% .114 19.571);
  --color-red-400: oklch(70.4% .191 22.216);
  --color-red-500: oklch(63.7% .237 25.331);
  --color-red-600: oklch(57.7% .245 27.325);
  --color-red-700: oklch(50.5% .213 27.518);
  --color-red-800: oklch(44.4% .177 26.899);
  --color-red-900: oklch(39.6% .141 25.723);
  
  --color-pink-50: oklch(97.1% .014 343.198);
  --color-pink-200: oklch(89.9% .061 343.231);
  --color-pink-500: oklch(65.6% .241 354.308);
  
  --color-orange-50: oklch(98% .016 73.684);
  --color-orange-100: oklch(95.4% .038 75.164);
  --color-orange-200: oklch(90.1% .076 70.697);
  --color-orange-400: oklch(75% .183 55.934);
  --color-orange-500: oklch(70.5% .213 47.604);
  --color-orange-600: oklch(64.6% .222 41.116);
  --color-orange-700: oklch(55.3% .195 38.402);
  --color-orange-800: oklch(47% .157 37.304);
  
  --color-indigo-50: oklch(96.2% .018 272.314);
  --color-indigo-100: oklch(93% .034 272.788);
  --color-indigo-500: oklch(58.5% .233 277.117);
  --color-indigo-600: oklch(51.1% .262 276.966);
  --color-indigo-700: oklch(45.7% .24 277.023);
  --color-indigo-800: oklch(39.8% .195 277.366);
  
  --color-white: #fff;
  --color-black: #000;
}

@layer base {
  * {
    border-color: var(--color-gray-300);
  }

  body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--font-family-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}